node_modules
.DS_Store
.next
.turbo
dist
build
.env
.env.local
.env.*.local
*.log
.strapi
.tmp
.pnpm-store
*.tsbuildinfo
apps/cms/.tmp
apps/cms/public/uploads
apps/cms/dist
apps/cms/build
apps/cms/.cache
coverage
.vercel
